.Landing7QuestionsDiv1 {
  text-align: left;
  padding: 21px 20% 18px;
  border-bottom: 8px solid grey;
}

.questionPartBigTitleH1 {
  color: white;
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 38.488px;
}

.IntroAndInputAndButtonDiv2 {
  text-align: center;
  margin-top: 67px;
  margin-bottom: 47px;
}

.IntroAndInputAndButtonDiv2 h3 {
  color: white;
}

.inputandButtonDiv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputandButtonDiv3 button {
  font: inherit;
  cursor: pointer;
  background-color: #c00404;
  border: 1px solid #c00404;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
}

.inputandButtonDiv3 button:hover,
.inputandButtonDiv3 button:active {
  background-color: #dc0933;
  border-color: #dc143c;
}

.inputandButtonDiv3 input {
  height: 48px;
  width: 520px;
  border-radius: 6px;
  font-size: 20px;
  padding: 0px 10px;
}

.inputIsInvalidDiv3 {
  display: flex;
  justify-content: center;
}

.inputIsInvalidDiv3 p {
  color: red;
  position: absolute;
  z-index: 2;
}

.inputandButtonDiv3 input:focus {
  outline: none;
  border-color: white;
  background-color: #e0d4fd;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.inputAndSpanDiv4 {
  display: flex;
  align-items: center;
  position: relative;
}
.inputPlaceHolderSpan {
  position: absolute;
  color: grey;
  left: 10px;
  transition: 0.25s;
}

.inputAndSpanDiv4 input:focus ~ span,
.inputAndSpanDiv4 input:valid ~ span {
  transform: translateY(-16px) translateX(-10.5px) scale(0.7);
  color: grey;
  font-weight: 700;
}

@media (min-width: 1400px) {
  .Landing7QuestionsDiv1 {
    padding: 53px 20% 51px;
  }
  .questionPartBigTitleH1 {
    font-size: 70px;
  }
  .inputIsInvalidDiv3 p {
    font-size: 30px;
  }
  .IntroAndInputAndButtonDiv2 h3 {
    font-size: 30px;
  }
  .inputandButtonDiv3 input {
    height: 70px;
    width: 1330px;
    border-radius: 6px;
    font-size: 30px;
  }
  .inputandButtonDiv3 button {
    margin-top: 30px;
    font-size: 40px;
  }
  .inputandButtonDiv3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .inputPlaceHolderSpan {
    position: absolute;
    color: grey;
    font-size: 30px;
    left: 10px;
  }

  .inputAndSpanDiv4 input:focus ~ span,
  .inputAndSpanDiv4 input:valid ~ span {
    transform: translateY(-24px) translateX(-30px) scale(0.5);
    color: grey;
    font-weight: 700;
  }
}

@media (max-width: 1200px) {
  .Landing7QuestionsDiv1 {
    padding: 29px 20% 26px;
  }
  .questionPartBigTitleH1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 992px) {
  .Landing7QuestionsDiv1 {
    padding: 32px 20% 29px;
  }
  .inputandButtonDiv3 button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .Landing7QuestionsDiv1 {
    padding: 32px 15% 29px;
  }
}

@media (max-width: 576px) {
  .questionPartBigTitleH1 {
    font-size: 2rem;
  }
  .IntroAndInputAndButtonDiv2 h3 {
    font-size: 1rem;
  }
  .Landing7QuestionsDiv1 {
    padding: 32px 15% 11px;
  }
  .IntroAndInputAndButtonDiv2 {
    text-align: center;
    margin-top: 39px;
    margin-bottom: 19px;
  }

  .inputandButtonDiv3 button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .inputIsInvalidDiv3 {
    padding-bottom: 20px;
  }
  .inputIsInvalidDiv3 p {
    margin-top: 10px;
  }

  .inputandButtonDiv3 input {
    font-size: 15px;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .Landing7QuestionsDiv1 {
    padding: 47px 9% 26px;
  }
  .questionPartBigTitleH1 {
    font-size: 1.5rem;
    line-height: 1;
  }

  .inputandButtonDiv3 input{
    width: 320px;
  }

  .inputAndSpanDiv4  input:valid ~ span,
  .inputAndSpanDiv4 input:focus ~ span {
    transform: translateY(-16px) translateX(-10px) scale(0.7);
    color: grey;
    font-weight: 700;
  }
}
